html {
    padding: 0;
    margin: 0;
    font-size: 22px;
    display: inherit;
    height: 100%;
}
/* body {
    background: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));
    color: #fff;
} */
.container {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
#list-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    margin: 16px;
    /* display: grid;
    grid-template-rows: auto; */
    background: radial-gradient(#76b2fe, #b69efe);
    width: 200px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.4s;
}
.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.1), 
      -5px -5px 30px 15px rgba(0,0,0,0.20);
}
.value {
    width: 100%;
    height: 50%;
    background-color: transparent;
    transition: all 1s ease-in;
    text-align: center;
    font-size: 72px;
    line-height: 400%;
}
