html {
    padding: 0;
    margin: 0;
    font-size: 22px;
    display: inherit;
    height: 100%;
}
body {
    background: #a0baeb;
    color: #fff;
} */
.container {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
#list-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    margin: 16px;
    /* display: grid;
    grid-template-rows: auto; */
    background: radial-gradient(#f6f7f8, #b1b4df, #a2c1eb,#548eda, #1d12b3, #0d0b75);
    width: 200px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.4s;
}
.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.1), 
      -5px -5px 30px 15px rgba(0,0,0,0.20);
}
/* show image */
.show-value {
    background-color: transparent;
    text-align: center;
    font-size: 72px;
    line-height: 400%;
}
/* if cards are matched, let's hide this */
.card.hidden {
    background-color: transparent;
    background: none;
    border-radius: unset;
    box-shadow: none;
    color: transparent;
    font-size: 0;
    pointer-events: none;
}
/* responsive */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .card{
        width: 70px;
        height: 100px;
        margin: 5px;
        border-radius: 5px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }
}